---
layout: projects/sushi_order
---

.nav-container
  %nav
    #nav-logo
      %h1 Sushi Order
    %ul.nav-icons
      %li
        %a(href="#")
          %img(src="/assets/images/sushi_order/shopping_cart_1.png")
          %span $32.98

.banner
  %h1 Menu List
  %p Discover our delicious menu

.menu-items
  - 12.times do
    .item
      %img(src="/assets/images/sushi_order/product-burger.jpg")
      %h4 Beef Burger
      %span Beef, cheese, potato, onion, fries
      .bottom
        %span $9.00
        %button(href="#") add to cart
        